<form name="form_user" class="form form_user" id="form_user">
    <div class="form__field form__field_name">
        <div class="form__input form__input_name">
            <label for="name" class="form__label">Name</label>
            <input type="text" class="form__input-value" id="name" name="name" autocomplete="off">
        </div>
        <div class="form__error form__error_name">
            <i class="form__error-icon form__error-icon_name fa-solid fa-circle-exclamation"></i>
            <span class="form__error-text form__error-text_name"></span>
        </div>
    </div>
    <div class="form__field form__field_email">
        <div class="form__input form__input_email">
            <label for="email" class="form__label">E-mail</label>
            <input type="text" class="form__input-value" id="email" name="email" autocomplete="off">
        </div>
        <div class="form__error form__error_email">
            <i class="form__error-icon form__error-icon_email fa-solid fa-circle-exclamation"></i>
            <span class="form__error-text form__error-text_email"></span>
        </div>
    </div>
    <div class="form__buttons">
        <button type="submit" class="form__button form__button_confirm confirm-popup" id="confirm-button">Submit</button>
        <button type="button" class="form__button form__button_cancel close-popup" id="cancel-button">Cancel</button>
    </div>
</form>