AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
    Options -Indexes

    <FilesMatch "\.(php)$">
        Deny from all
    </FilesMatch>
    <FilesMatch "^index.php$">
        Allow from all
    </FilesMatch>

    RewriteEngine On
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?query=$1 [L,QSA]

</IfModule>